## Books Recommender System

### importing libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
books_df = pd.read_csv('Books.csv')
rating_df = pd.read_csv('Ratings.csv')
user_df = pd.read_csv('Users.csv')

C:\Users\Rishit\AppData\Local\Temp\ipykernel_12492\23374788.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv('Books.csv')

In [3]:
books_df.sample(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
263431,0553180932,Garden of Rama,Arthur C. Clarke,1992,Spectra Books,http://images.amazon.com/images/P/0553180932.0...,http://images.amazon.com/images/P/0553180932.0...,http://images.amazon.com/images/P/0553180932.0...
79697,0446607703,30 Seconds,Sam,1999,Warner Books,http://images.amazon.com/images/P/0446607703.0...,http://images.amazon.com/images/P/0446607703.0...,http://images.amazon.com/images/P/0446607703.0...

In [4]:
user_df.sample(2)

        User-ID                     Location   Age
249361   249362  london, n/a, united kingdom  25.0
102321   102322           selm, nrw, germany  54.0

In [5]:
rating_df.sample(2)

        User-ID        ISBN  Book-Rating
930220   225910  0679450432            8
874944   211919  0060199652            0

### Checking for null values

In [6]:
print(books_df.isnull().sum())
print()
print(user_df.isnull().sum())
print()
print(rating_df.isnull().sum())

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

User-ID          0
Location         0
Age         110762
dtype: int64

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

## Checking for Duplicates

In [7]:
books_df.duplicated().sum()

0

In [8]:
rating_df.duplicated().sum()

0

In [9]:
user_df.duplicated().sum()

0

## Popularity based Recommender System

1. Books with atleast 200 Rating count

In [10]:
rwn = rating_df.merge(books_df, on= 'ISBN')

In [11]:
rwn.sample(5)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
469650,160735,0440236819,0,The Cottage,Danielle Steel,2003,Dell Publishing Company,http://images.amazon.com/images/P/0440236819.0...,http://images.amazon.com/images/P/0440236819.0...,http://images.amazon.com/images/P/0440236819.0...
109195,261603,0449227545,0,The Hammer of Eden: A Novel,Ken Follett,1999,Fawcett Books,http://images.amazon.com/images/P/0449227545.0...,http://images.amazon.com/images/P/0449227545.0...,http://images.amazon.com/images/P/0449227545.0...
403787,76626,0451155580,10,Once on a Time,A.A. Milne,1988,New Amer Library (Mm),http://images.amazon.com/images/P/0451155580.0...,http://images.amazon.com/images/P/0451155580.0...,http://images.amazon.com/images/P/0451155580.0...
48747,268282,0345334019,0,Escape the Night,Richard North Patterson,1995,Ballantine Books,http://images.amazon.com/images/P/0345334019.0...,http://images.amazon.com/images/P/0345334019.0...,http://images.amazon.com/images/P/0345334019.0...
506388,115572,0064471055,8,Prince Caspian (rack) : The Return to Narnia (...,C. S. Lewis,1994,HarperCollins,http://images.amazon.com/images/P/0064471055.0...,http://images.amazon.com/images/P/0064471055.0...,http://images.amazon.com/images/P/0064471055.0...

In [12]:
count_rating = rwn.groupby('Book-Title').count()['Book-Rating'].reset_index()
count_rating.rename(columns={'Book-Rating':'num_rating'}, inplace=True)
count_rating

                                               Book-Title  num_rating
0        A Light in the Storm: The Civil War Diary of ...           4
1                                   Always Have Popsicles           1
2                    Apple Magic (The Collector's series)           1
3        Ask Lily (Young Women of Faith: Lily Series, ...           1
4        Beyond IBM: Leadership Marketing and Finance ...           1
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.           2
241067                     Ã?Â?rger mit Produkt X. Roman.           4
241068                                Ã?Â?sterlich leben.           1
241069                              Ã?Â?stlich der Berge.           3
241070                                  Ã?Â?thique en toc           2

[241071 rows x 2 columns]

In [13]:
avg_rating = rwn.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating['Book-Rating']=avg_rating['Book-Rating'].round(decimals =2)
avg_rating

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...         2.25
1                                   Always Have Popsicles         0.00
2                    Apple Magic (The Collector's series)         0.00
3        Ask Lily (Young Women of Faith: Lily Series, ...         8.00
4        Beyond IBM: Leadership Marketing and Finance ...         0.00
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.         0.00
241067                     Ã?Â?rger mit Produkt X. Roman.         5.25
241068                                Ã?Â?sterlich leben.         7.00
241069                              Ã?Â?stlich der Berge.         2.67
241070                                  Ã?Â?thique en toc         4.00

[241071 rows x 2 columns]

In [14]:
## Merging avg and count of rating DF
popular_df = avg_rating.merge(count_rating, on= 'Book-Title')
popular_df

,Book-Title,Book-Rating,num_rating
0,A Light in the Storm: The Civil War Diary of ...,2.25,4
1,Always Have Popsicles,0.00,1
2,Apple Magic (The Collector's series),0.00,1
3,"Ask Lily (Young Women of Faith: Lily Series, ...",8.00,1
4,Beyond IBM: Leadership Marketing and Finance ...,0.00,1
...,...,...,...
241066,Ã?Â?lpiraten.,0.00,2
241067,Ã?Â?rger mit Produkt X. Roman.,5.25,4
241068,Ã?Â?sterlich leben.,7.00,1
241069,Ã?Â?stlich der Berge.,2.67,3
241070,Ã?Â?thique en toc,4.00,2

In [15]:
books_df[['Book-Title','Book-Author']]

,Book-Title,Book-Author
0,Classical Mythology,Mark P. O. Morford
1,Clara Callan,Richard Bruce Wright
2,Decision in Normandy,Carlo D'Este
3,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,The Mummies of Urumchi,E. J. W. Barber
...,...,...
271355,There's a Bat in Bunk Five,Paula Danziger
271356,From One to One Hundred,Teri Sloat
271357,Lily Dale : The True Story of the Town that Ta...,Christine Wicker
271358,Republic (World's Classics),Plato
271359,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle

In [16]:
popular_df = popular_df[popular_df['num_rating']>100].sort_values(by = 'Book-Rating', ascending=False)
popular_df

,Book-Title,Book-Rating,num_rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),5.85,428
195672,The Little Prince,5.82,141
80422,Harry Potter and the Goblet of Fire (Book 4),5.82,387
80441,Harry Potter and the Sorcerer's Stone (Book 1),5.74,278
80426,Harry Potter and the Order of the Phoenix (Boo...,5.50,347
...,...,...,...
141276,Pleading Guilty,1.46,136
220317,Tom Clancy's Op-Center (Tom Clancy's Op Center...,1.44,134
233567,"Whirlwind (Tyler, Book 1)",1.34,107
205836,The Sands of Time,1.17,105
234951,Wild Animus,1.02,2502

In [17]:
popular_df = popular_df.merge(books_df,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Book-Rating','num_rating','Image-URL-M']]
popular_df

,Book-Title,Book-Author,Book-Rating,num_rating,Image-URL-M
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,5.85,428,http://images.amazon.com/images/P/0439136350.0...
3,The Little Prince,Antoine de Saint-ExupÃ©ry,5.82,141,http://images.amazon.com/images/P/0156528207.0...
8,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,5.82,387,http://images.amazon.com/images/P/0439139597.0...
10,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,5.74,278,http://images.amazon.com/images/P/0590353403.0...
14,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,5.50,347,http://images.amazon.com/images/P/043935806X.0...
...,...,...,...,...,...
2971,Pleading Guilty,Scott Turow,1.46,136,http://images.amazon.com/images/P/0446365505.0...
2973,Tom Clancy's Op-Center (Tom Clancy's Op Center...,Tom Clancy,1.44,134,http://images.amazon.com/images/P/0425147363.0...
2974,"Whirlwind (Tyler, Book 1)",Nancy Martin,1.34,107,http://images.amazon.com/images/P/0373825013.0...
2975,The Sands of Time,Sidney Sheldon,1.17,105,http://images.amazon.com/images/P/0446356832.0...
2977,Wild Animus,Rich Shapero,1.02,2502,http://images.amazon.com/images/P/0971880107.0...

In [18]:
Top_50 = popular_df[popular_df['num_rating']>200].sort_values(by = 'Book-Rating', ascending=False).head(50)
Top_50

,Book-Title,Book-Author,Book-Rating,num_rating,Image-URL-M
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,5.85,428,http://images.amazon.com/images/P/0439136350.0...
8,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,5.82,387,http://images.amazon.com/images/P/0439139597.0...
10,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,5.74,278,http://images.amazon.com/images/P/0590353403.0...
14,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,5.50,347,http://images.amazon.com/images/P/043935806X.0...
18,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,5.41,249,http://images.amazon.com/images/P/0312853238.0...
22,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,5.18,556,http://images.amazon.com/images/P/0439064872.0...
27,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,5.01,281,http://images.amazon.com/images/P/0345339681.0...
28,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,4.95,368,http://images.amazon.com/images/P/0345339703.0...
40,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,4.90,575,http://images.amazon.com/images/P/059035342X.0...
45,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,4.88,260,http://images.amazon.com/images/P/0345339711.0...
63,To Kill a Mockingbird,Harper Lee,4.70,510,http://images.amazon.com/images/P/0446310786.0...
71,The Da Vinci Code,Dan Brown,4.64,898,http://images.amazon.com/images/P/0385504209.0...
95,The Catcher in the Rye,J.D. Salinger,4.55,449,http://images.amazon.com/images/P/0316769487.0...
103,The Five People You Meet in Heaven,Mitch Albom,4.55,430,http://images.amazon.com/images/P/0786868716.0...
110,"The Return of the King (The Lord of the Rings,...",J.R.R. TOLKIEN,4.50,211,http://images.amazon.com/images/P/0345339738.0...
128,The Lovely Bones: A Novel,Alice Sebold,4.47,1295,http://images.amazon.com/images/P/0316666343.0...
129,The Great Gatsby,F. Scott Fitzgerald,4.46,205,http://images.amazon.com/images/P/185326041X.0...
149,Neverwhere,Neil Gaiman,4.45,265,http://images.amazon.com/images/P/0380789019.0...
146,Prodigal Summer: A Novel,Barbara Kingsolver,4.45,253,http://images.amazon.com/images/P/0060959037.0...
140,The Secret Life of Bees,Sue Monk Kidd,4.45,774,http://images.amazon.com/images/P/0142001740.0...
131,1984,George Orwell,4.45,284,http://images.amazon.com/images/P/0451524934.0...
174,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,4.36,283,http://images.amazon.com/images/P/0060392452.0...
179,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,4.35,493,http://images.amazon.com/images/P/0385484518.0...
189,The Red Tent (Bestselling Backlist),Anita Diamant,4.33,723,http://images.amazon.com/images/P/0312195516.0...
190,The Hitchhiker's Guide to the Galaxy,Douglas Adams,4.33,268,http://images.amazon.com/images/P/0671461494.0...
199,Brave New World,Aldous Huxley,4.33,226,http://images.amazon.com/images/P/0060809833.0...
232,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,4.29,335,http://images.amazon.com/images/P/0805063897.0...
230,The Tao of Pooh,Benjamin Hoff,4.29,211,http://images.amazon.com/images/P/0140067477.0...
236,Into the Wild,Jon Krakauer,4.27,252,http://images.amazon.com/images/P/0385486804.0...
239,Animal Farm,George Orwell,4.27,233,http://images.amazon.com/images/P/0451526341.0...
250,Fahrenheit 451,Ray Bradbury,4.26,409,http://images.amazon.com/images/P/3257208626.0...
263,A Walk in the Woods: Rediscovering America on ...,Bill Bryson,4.24,205,http://images.amazon.com/images/P/0767902521.0...
267,Girl with a Pearl Earring,Tracy Chevalier,4.22,526,http://images.amazon.com/images/P/0452282152.0...
276,Night,Elie Wiesel,4.22,202,http://images.amazon.com/images/P/0553272535.0...
284,Outlander,DIANA GABALDON,4.17,283,http://images.amazon.com/images/P/0440222915.0...
313,"The Subtle Knife (His Dark Materials, Book 2)",PHILIP PULLMAN,4.12,225,http://images.amazon.com/images/P/0375823468.0...
326,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,4.11,585,http://images.amazon.com/images/P/0446672211.0...
324,The Color of Water: A Black Man's Tribute to H...,James McBride,4.11,223,http://images.amazon.com/images/P/1573225789.0...
327,Seabiscuit: An American Legend,LAURA HILLENBRAND,4.10,275,http://images.amazon.com/images/P/0449005615.0...
329,The Bean Trees,Barbara Kingsolver,4.09,389,http://images.amazon.com/images/P/0060915544.0...
334,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,4.09,265,http://images.amazon.com/images/P/1558743669.0...
336,Life of Pi,Yann Martel,4.09,664,http://images.amazon.com/images/P/0151008116.0...
340,ANGELA'S ASHES,Frank McCourt,4.08,279,http://images.amazon.com/images/P/0684874350.0...
375,High Fidelity,Nick Hornby,4.06,247,http://images.amazon.com/images/P/1573225517.0...
381,Good in Bed,Jennifer Weiner,4.06,490,http://images.amazon.com/images/P/0743418174.0...
388,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,4.04,321,http://images.amazon.com/images/P/0060938455.0...
417,American Gods,Neil Gaiman,4.01,302,http://images.amazon.com/images/P/0380789035.0...
404,Skipping Christmas,JOHN GRISHAM,4.01,322,http://images.amazon.com/images/P/0385505833.0...
418,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,4.00,336,http://images.amazon.com/images/P/037582345X.0...
426,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,4.00,318,http://images.amazon.com/images/P/0842329129.0...

In [22]:
Top_50 = Top_50.merge(books_df, on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author', 'Book-Rating', 'num_rating', 'Image-URL-M']]
Top_50.sample(2)

,Book-Title,Book-Author,Book-Rating,num_rating,Image-URL-M
57,The Catcher in the Rye,J.D. Salinger,4.55,449,http://images.amazon.com/images/P/0316769487.0...
150,Girl with a Pearl Earring,Tracy Chevalier,4.22,526,http://images.amazon.com/images/P/0452282152.0...

In [23]:
Top_50.columns

Index(['Book-Title', 'Book-Author', 'Book-Rating', 'num_rating',
       'Image-URL-M'],
      dtype='object')

In [24]:
Top_50 = Top_50[['Book-Title','Book-Author', 'Book-Rating', 'num_rating', 'Image-URL-M']]

## Collaborative Filterbased Recommender System

In [25]:
rwn

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [26]:
x = rwn.groupby('User-ID').count()['Book-Rating']>200
user_rated = x[x].index

In [27]:
filtered_rating = rwn[rwn['User-ID'].isin(user_rated)]

In [28]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [29]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]
final_ratings.sample(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
265605,31315,0399147284,10,Chosen Prey,John Sandford,2001,G. P. Putnam's Sons,http://images.amazon.com/images/P/0399147284.0...,http://images.amazon.com/images/P/0399147284.0...,http://images.amazon.com/images/P/0399147284.0...
202837,225810,0312278586,0,The Nanny Diaries: A Novel,Emma McLaughlin,2002,St. Martin's Press,http://images.amazon.com/images/P/0312278586.0...,http://images.amazon.com/images/P/0312278586.0...,http://images.amazon.com/images/P/0312278586.0...

In [30]:
pt = final_ratings.pivot_table(index = 'Book-Title', columns= 'User-ID', values= 'Book-Rating')

In [31]:
pt.fillna(0, inplace=True)

In [32]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [33]:
from sklearn.metrics.pairwise import cosine_similarity
similar = cosine_similarity(pt)

In [34]:
similar

array([[1.        , 0.10255025, 0.01220856, ..., 0.12110367, 0.07347567,
        0.04316046],
       [0.10255025, 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01220856, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.12110367, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07347567, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04316046, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [35]:
sorted(list(enumerate(similar[0])), key=lambda x: x[1], reverse=True)[1:6]

[(47, 0.2702651417103732),
 (545, 0.2639619371123497),
 (82, 0.23669374347400993),
 (634, 0.23299389358170394),
 (551, 0.2262639743141286)]

In [63]:
def recommend(book_name):
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similar[index])), key=lambda x: x[1], reverse=True)[1:6]
    data=[]
    #for i in similar_items:
       # print(pt.index[i[0]])
        
    for i in similar_items:    
        item=[]
        temp_df = books_df[books_df['Book-Title']==pt.index[i[0]]]
        
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))  
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
                    
        
        data.append(item)            
    return data

In [65]:
recommend("1984")

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg'],
 ['The Hours : A Novel',
  'Michael Cunningham',
  'http://images.amazon.com/images/P/0312243022.01.MZZZZZZZ.jpg']]

In [38]:
popular_df

,Book-Title,Book-Author,Book-Rating,num_rating,Image-URL-M
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,5.85,428,http://images.amazon.com/images/P/0439136350.0...
3,The Little Prince,Antoine de Saint-ExupÃ©ry,5.82,141,http://images.amazon.com/images/P/0156528207.0...
8,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,5.82,387,http://images.amazon.com/images/P/0439139597.0...
10,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,5.74,278,http://images.amazon.com/images/P/0590353403.0...
14,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,5.50,347,http://images.amazon.com/images/P/043935806X.0...
...,...,...,...,...,...
2971,Pleading Guilty,Scott Turow,1.46,136,http://images.amazon.com/images/P/0446365505.0...
2973,Tom Clancy's Op-Center (Tom Clancy's Op Center...,Tom Clancy,1.44,134,http://images.amazon.com/images/P/0425147363.0...
2974,"Whirlwind (Tyler, Book 1)",Nancy Martin,1.34,107,http://images.amazon.com/images/P/0373825013.0...
2975,The Sands of Time,Sidney Sheldon,1.17,105,http://images.amazon.com/images/P/0446356832.0...
2977,Wild Animus,Rich Shapero,1.02,2502,http://images.amazon.com/images/P/0971880107.0...

In [40]:
Top_50.shape

(50, 5)

In [42]:
import pickle
#pickle.dump(popular_df, open('popular.pkl','wb'))

In [43]:
pickle.dump(Top_50, open('Top_50.pkl','wb'))

In [66]:
pickle.dump(books_df,open('book_df.pkl', 'wb'))

In [67]:
pickle.dump(pt,open('pt.pkl', 'wb'))

In [68]:
pickle.dump(similar,open('similar.pkl', 'wb'))